<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
  <link href="/img/favicons/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="/img/favicons/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
  <link href="/img/favicons/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
  <link href="/img/favicons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
  <link href="/img/favicons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
  <link href="/img/favicons/icon-hires.png" rel="icon" sizes="192x192">
  <link href="/img/favicons/icon-normal.png" rel="icon" sizes="128x128">
  <!--Twitter Card-->
  <meta name=twitter:card content=summary_large_image>
  <meta name=twitter:site content="@phillipgessert">
  <meta name=twitter:creator content="@phillipgessert">
  <meta name=twitter:title content="Gessert Books: Book Layout and Ebook Formatting">
  <meta name=twitter:description content="Book design, typesetting, and typography in Amarillo, Texas.">
  <meta name=twitter:image content="http://www.gessertbooks.com/img/portfolio/botanical-frankenstein/kindle5.jpg">
  <!--End Twitter Card-->
  <!--Pinterest Confirmation-->
  <meta name="p:domain_verify" content="57e0214ae94a8c30bd3c9315987cabb2"/>
  <!--End Pinterest Confirmation-->


  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-61610019-2', 'auto');
  ga('send', 'pageview');
  </script>
</head>