// My variables
$secondary-color: #FF0000;
$tertiary-color: #C00505;

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}


th, td {
   padding-top: .5em;
   padding-bottom: .5em;
   border-bottom: 1px solid black;
}

.avatar {
	width: 25% !important;
	border-radius: 100% !important;
	margin-left: 37.5%;
	margin-bottom: 2em;
}

.site-title{
	background-image: url("/img/gb-logo.svg");
	background-repeat: no-repeat;
	padding-left: 2.5em;
	margin-left: -2.5em;
	padding-bottom: .25em;
	margin-bottom: -.25em;
	//font-variant: small-caps;
	//text-transform: lowercase;
}

.site-header {
	padding-top: .25em;
}

.footnotes {
	border-top: 1px solid black;
	//padding-top: 1em;
	ol{
		font-size: .85em;
		margin-top: 1em;
	}
}

sup {font-size: .65em;}
p {
	text-align: justify;
	hyphens: auto;
	-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
	text-justify: inter-word;
}

strong {color: $tertiary-color;}

hr::before {
	content: "— § —";
  display: block;
  text-align: center;
  margin-bottom: 1em;
}
hr {
	border: none;
}

.sidebar {
	font-family: Futura, sans-serif;
	color: darkgrey;
	h1 {
		font-size: .75em;
		text-transform: uppercase;
		letter-spacing: .125em;
	}
	li h2 a{
		font-size: .375em;
		text-transform: uppercase;
		letter-spacing: .125em;
		color: darkgrey;
		margin-bottom: 0;
	}
	width: 10%;
	float: left;
	display: none;
}

.post-list > li {
	margin-bottom: .5em !important;
}

.post-content {
	padding-right: -25% !important;
}
