table, th, td {
   border: 1px solid black;
}

.avatar {
	width: 25% !important;
	border-radius: 100% !important;
	margin-left: 37.5%;
}

.site-title{
	background-image: url("/img/gb-logo.svg");
	background-repeat: no-repeat;
	padding-left: 2.5em;
	margin-left: -2.5em;
	padding-bottom: .5em;
	margin-bottom: -.5em;
	//font-variant: small-caps;
	//text-transform: lowercase;
}
